@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 312px 1fr;
}

.sidebar {
    background-color: #0ea5e9;
    grid-row: span 2;
    display: grid;
    align-content: start;
    gap: 64px;
    color: white;
    padding: 32px;
    font-size: 1.4rem;
    font-weight: 500;
}

.sidebar li {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.sidebar ul {
    display: grid;   
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.sidebar .logo {
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.sidebar img {
    height: 32px;
    filter: invert();
    padding-inline: 16px 32px;
}

.sidebar .logo img {
    height: 64px;
    padding-inline: 0 0;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 16px 64px;
    gap: 16px;
    font-weight: 500;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 32px;
}

.search-bar input {
    width: 100%;
    background-color: #e2e8f0;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
}

.search-bar img {
    height: 32px;
}

.user-info,
.buttons {
    font-size: 1.2rem;
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 32px;
}

.user-info img {
    width: auto;
    height: 64px;
    border-radius: 64px;
    cursor: pointer;
}

.user-info img:first-child {
    height: 32px;
}

.greeting {
    display: grid;
    grid-template-columns: 96px 1fr;
    column-gap: 32px;
    align-items: center;
}

.greeting img {
    width: auto;
    height: 96px;
    border-radius: 64px;
}

.greeting .container div:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 700;
}

.header .buttons button {
    background-color: #0ea5e9;
    border: none;
    border-radius: 32px;
    padding: 12px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 16px;
    gap: 16px;
    background-color: #e2e8f0;
}

.main-content .projects {
    grid-row: span 2;
}

.main-content .card {
    background-color: white;
    padding: 32px;
    display: grid;
    border-radius: 16px;
    gap: 32px;
    border-left: 8px solid orange;
    color: #71717a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.main-content .card img {
    width: auto;
    height: 32px;
    cursor: pointer;
}

.main-content .card .content h1 {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 4px;
}

.main-content .projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
    gap: 16px;
}

.main-content > div > div:first-child {
    margin: 16px 0 16px;
    font-size: 1.4rem;
    font-weight: 700;
}

.main-content .announcements .container,
.main-content .trending .container {
    background-color: white;
    padding: 32px;
    display: grid;
    border-radius: 16px;
    gap: 32px;
    color: #71717a;
    font-size: 0.8rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.main-content .announcements h1 {
    font-size: 1rem;
    color: black;
    margin-bottom: 4px;
}

.main-content .announcements .divider {
    height: 1px;
    width: 100%;
    background-color: #71717a;
}

.main-content .trending img {
    height: 64px;
    border-radius: 32px;
}

.main-content .trending .nickname {
    font-size: 1.2rem;
    color: black;
}

.main-content .trending .profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 32px;
    cursor: pointer;
}